<h1> What company would you like to know more about?</h1>
<ul>
    <% @companies.each do |company| %>
        <li> <%= link_to company.name, company_path(company) %> </li>
    <% end %>
</ul>

<div>
<%= link_to 'Add a Company', new_company_path%>